<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444587746027-v5n1m1anj6svjcd43cpla7e6snudt81d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444587746027-v5n1m1anj6svjcd43cpla7e6snudt81d</string>
	<key>API_KEY</key>
	<string>AIzaSyDogPrP1dZkNS-gnwquknbOgK7jWx3veUM</string>
	<key>GCM_SENDER_ID</key>
	<string>444587746027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fazpass.sample-app</string>
	<key>PROJECT_ID</key>
	<string>trusted-device-d512e</string>
	<key>STORAGE_BUCKET</key>
	<string>trusted-device-d512e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444587746027:ios:ea959a5c6a6bbd13b9d4ae</string>
</dict>
</plist>